<div class="row">

  <div ng-repeat="ticket in vm.tickets | orderBy: 'date'">
      <div class="col s6">
        <div class="card large">
          <div class="card-image">
            <img ng-src="{{ticket.imageUrl}}">
            <span class="card-title event-name">{{ticket.name}}</span>
          </div>
          <div class="card-content">
            <div class="col s6">
              <p>{{ticket.date | amDateFormat:'dddd, MMMM Do, h:mma'}}</p>
              <p>{{ticket.venue}}</p>
            </div>
            <div class="col s6">
              <p>{{ticket.price | currency }}</p>
            </div>
          </div>
          <div class="card-action">
            <div class="row">
              <div class="input-field addTicket">
                <p class="col s2">Quantity:</p>
                <select class="col s5 browser-default" name="quantiy">
                  <option value="1" selected>1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                </select>
                <button class="btn waves-effect waves-light col offset-s1" type="button" name="action">Add to Cart
                  <i class="material-icons right">add_shopping_cart</i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

</div>
